<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scut.security.mapper.LoginMapper" >
  <resultMap id="UserMap" type="com.scut.pojo.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <association property="role" javaType="com.scut.pojo.Role">
    	<id column="id" property="id" jdbcType="INTEGER"/>
    	<result column="code" property="code" jdbcType="VARCHAR"/>
    	<result column="name" property="name" jdbcType="VARCHAR"/>
    </association>
  </resultMap>
  <select id="findUser" parameterType="String" resultMap="UserMap">
  	select 
  		user.id,account,user.name,password,unit,state,role.code,role.name  
  	from 
  		user 
  	left join 
  		user_role 
  	on 
  		user.id = user_role.user_id
  	left join 
  		role 
  	on 
  		role.id = user_role.role_id
  	where
  		account=#{account}
  </select>
</mapper>