<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scut.mapper.ModuleMapper" >
  <resultMap id="ModuleMap" type="com.scut.pojo.Module" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="filetype" property="filetype" jdbcType="VARCHAR" />
    <result column="attachtype" property="attachtype" jdbcType="VARCHAR" />
    <result column="dateline" property="dateline" jdbcType="DATE" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <insert id="insertModule" parameterType="com.scut.pojo.Module">
  	insert into module(name,description,pid,path,filetype,attachtype,dateline)
  	values (#{name},#{description},#{pid},#{path},#{filetype},#{attachtype},#{dateline})
  </insert>
  
  <select id="selectModules" parameterType="int" resultMap="ModuleMap">
  	select * from module where pid = #{pid} order by id desc
  </select>
  
  <select id="selectModule" parameterType="int" resultMap="ModuleMap">
  	select * from module where id = #{id}
  </select>
  
  <delete id="deleteModuleById" parameterType="int">
  	delete from module where id=#{0}
  </delete>
  
  <update id="updateModule" parameterType="com.scut.pojo.Module">
  	update module set description=#{description},dateline=#{dateline}
  	where id=#{id}
  </update>
  
  <delete id="deleteModuleByPid" parameterType="int">
  	delete from module where pid = #{0}
  </delete>
</mapper>