<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scut.mapper.ProjectMapper" >
  <resultMap id="ProjectMap" type="com.scut.pojo.Project" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="dateline" property="dateline" jdbcType="DATE" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ProjectAllMap" type="com.scut.pojo.Project" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="dateline" property="dateline" jdbcType="DATE" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <collection property="ids" ofType="Integer">    </collection>
  </resultMap>
    
  <insert id="insertProject" parameterType="com.scut.pojo.Project">
  	insert into project(name,dateline,uid,path) values(#{name},#{dateline},
  	#{uid},#{path})
  </insert>
  
  <select id="selectUserProjects" parameterType="int" resultMap="ProjectMap">
  	select * from project where uid = #{id} order by id desc
  </select>
  
  <select id="selectProject" parameterType="int" resultMap="ProjectAllMap">
  	select 
  		project.id,project.name,project.dateline,project.uid,project.path,
  		project.createtime,project_user.uid
  	from 
  		project 
  	left join 
  		project_user 
  	on 
  		project.id = project_user.pid
  	where 
  		project.id = #{id} 
  </select>
  
  <insert id="insertProjectUser" parameterType="int">
 	insert into project_user(pid,uid) values(#{0},#{1})
  </insert>
  
  <select id="selectUserJoinedProjects" parameterType="int" resultMap="ProjectMap">
  	select * from project where id in (select pid from project_user where uid=#{userId})
  </select>
  
  <delete id="deleteProjectUser" parameterType="int">
  	delete from project_user where pid = #{0}
  </delete>
  
  <delete id="deleteProject" parameterType="int">
  	delete from project where id = #{0}
  </delete>
  
  <update id="updateProject" parameterType="com.scut.pojo.Project">
  	update project set dateline=#{dateline} where id=#{id}
  </update>
  
  <select id="checkProjectIdandUserId" parameterType="int" resultType="Integer">
  	select id from project_user where uid=#{0} and pid=#{1}
  </select>
  
  <delete id="deleteProjectUserRelation" parameterType="int">
  	delete from project_user where uid=#{0} and pid=#{1}
  </delete>
</mapper>